@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
$primary-color: hsl(237, 18%, 59%);
$secondary-color: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$blue1: hsl(236, 21%, 26%);
$blue2: hsl(235, 16%, 14%);
$blue3: hsl(234, 17%, 12%);

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
}


.container {
  background-color: $blue1;
  background-image: url('/images/bg-stars.svg');
  background-image: url('/images/bg-stars.svg'), linear-gradient($blue3, $blue2, $blue1);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: -1;

  
  .date-form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      padding-right: 2rem;
      padding-left: 2rem;
      color: $white;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      text-align: center;
    }

    input {
      margin-top: 2rem;
      width: 15rem;
      padding: 0.3rem;

        &:hover {
          cursor: pointer;
        }
    }

  }

  .countdown {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      color: $white;
    }

    .countdown-item {
      margin-top: 5rem;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 7rem;
      height: 7rem;

      .number-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 2px 0px 0 ;

        
        .top-part {
          width: 100%;
          height: 50%;
          background-color: darken($blue1, 5%);
          border-radius: 10px;
          border-style: solid;
          border-width: 1px;
          
        }
        .bottom-part {
          width: 100%;
          height: 50%;
          background-color: $blue1;
          border-radius: 10px;
          border-style: solid;
          border-width: 1px;
        }

        .flipping-part {
          position: absolute;
          height: 100%;
          width: 100%;

          .flipping-bottom {
            width: 100%;
            height: 50%;
            border-radius: 10px;
            background-color: $blue1;
            border-style: solid;
            border-width: 1px;
          }

          .flipping-top {
            height: 50%;
            
          }
        }

        .number {
          width: 70%;
          height: 70%;
          position: absolute;
          top:50%;
          left:50%;
          margin-left: -35%;
          margin-top: -35%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3.5rem;
          color: $secondary-color;
          z-index: 2;
        }
      }

      .type-text {
        color: $primary-color;
        margin-top: 1rem;
        text-align: center;
        letter-spacing: 0.1rem;
      }

    }

    .last-item {
      margin-right: 0;
    }
  }


  .hills {
    position:absolute;
    width: 100%;
    max-height: 197px;
    height: 20%;
    bottom: 0px;
    background-image: url('/images/pattern-hills.svg');
    z-index: -1;
  }
}

.flip {
  animation: flip 0.8s ease-in;
}

.changeColor {
  animation: changeColor 0.8s ease-in;
}

//Animation keyframes for flipping effect
@keyframes flip{
  0% { 
    transform: rotateX(0deg)
  }
  100% {
    transform: rotateX(-180deg)
  }
}

@keyframes changeColor{
  0% {
    background-color: $blue1;
  }
  100% {
    background-color: darken($blue1, 5%);
  }
}






